---
layout: default
---

<div class="page-content">
    <div class="post-heading">
        {{ page.title }}
    </div>
    {% include article_info_bar.md cur_page=page %}
    <div class="post-entry">
        {{ content }}
    </div>
</div>
<div class="post-blank post-pager">
    <ul class="pager">
        {% if page.previous %}
        <li class="previous"><a href="{{ page.previous.url }}">&larr; 上一篇</a></li>
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ page.next.url }}">下一篇 &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% include disqus_comments.md %}

